.grid-container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 30% 50% 10%;

    grid-template-areas: "encabezado encabezado encabezado"
                         "mainA mainB mainC"
                         "mainD mainE mainF"
                         "pie   pie   pie"

}

.encabezado1 {
    
    grid-area: encabezado;
    background-color: lightgray;
}

.botonbuscador:hover{
    background-color: mediumpurple;
}

.main1
{
    grid-area: mainB;
    
}

.main3
{
    grid-area: mainF;
}

.titulo1
{
    padding: 10px;
    border: 20px;
    border-radius: 10px;
    background-color: mediumslateblue;
    font-family: Arial ;
    text-align: center;
    margin: 15px;
    color: ghostwhite;
}



.main2 {
    
    grid-area: mainE;

    
}

.cami

{
    text-align: center;
}

.logoinicio

{
    text-align: center;
}

.logogrande
{
    width: 400px;
    height: 400px;
}

.camisapng
{
    margin-top: 20px;
    width: 100px;
    height: 120px;
}


.pie1
{
    font-family: arial;
    grid-area: pie;
}

.menufooter
{
    text-align: center;
    background-color: lightgray;
}

.quienessomos
{
    text-decoration: none;
}

.botonayuda{
    text-decoration: none;
    color: tomato;
}



.botonanterior{
    text-decoration: none;
    color: tomato;
}

.botonanterior:hover{
    color: blueviolet;
}

