.grid-container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 30% 50% 10%;

    grid-template-areas: "encabezado encabezado encabezado"
                         "mainA mainB mainC"
                         "mainD mainE mainF"
                         "pie pie pie"

}

.encabezado1 {
    
    grid-area: encabezado;
    background-color: lightgray;
}

.botonbuscador:hover{
    background-color: mediumpurple;
}

.main1
{
    grid-area: mainB;
    
}


.main3
{
    grid-area: mainF;
}

.main4
{
    grid-area: mainA;
}

.titulo1
{
    padding: 10px;
    border: 20px;
    border-radius: 10px;
    background-color: mediumslateblue;
    font-family: Arial ;
    text-align: center;
    margin: 15px;
    color: ghostwhite;
}



.main2 {
    
    grid-area: mainE;

    
}

.cami

{
    text-align: center;
}

.logoinicio

{
    text-align: center;
}

.logogrande
{
    width: 400px;
    height: 400px;
}

.camisapng
{
    margin-top: 20px;
    width: 100px;
    height: 120px;
}


.pie1
{
    font-family: arial;
    grid-area: pie;
}

.menufooter
{
    text-align: center;
    background-color: lightgray;
}

.quienessomos
{
    text-decoration: none;
}

.botonayuda{
    text-decoration: none;
    color: tomato;
}



.botonanterior{
    text-decoration: none;
    color: tomato;
}

.botonanterior:hover{
    color: blueviolet;
}


/* busqueda anterior */
.titulo2{
grid-area: mainB;

    
}

.tituloasesor{
    margin: 30px;
    text-align:center;
    color: beige;
    background-color: mediumslateblue;
}

.tituloidea{
    background-color: mediumslateblue;
    text-align: center;
}

.formulariobusqueda{
    text-align: center;
}


/* login */

.titulologin{
    grid-area: mainB;
}

.botoniniciosesion{

    margin: 30px;
    color:mediumslateblue;
    text-align: center;
}

.botoniniciosesion:hover{
    background-color: tomato;

}

.seccionlogin{
    grid-area: mainE;
}

.formbusqueda{
    margin: 15px;
    text-align: center;
}

.pierepetirbusqueda{
    text-align: center;
}


.imgpagina
{
    width: 150px;
    height: 250px;
    text-align: center;
}


.pie2{
    grid-area: pie;
}

/* quienes somos */
.tituloquienes{
    grid-area: mainB;
}

.cajatituloquienes{
    margin: 10px;
    color: snow;
    text-align: center;
    background-color: mediumslateblue;
    border: 50px;
    border-radius: 10px;
}

.seccionvideo{
    grid-area: mainE;
}

.videoquienes{
margin-left: 350px;
margin-block-start: 20px;


}

.piequienes{
    grid-area: pie;
}


/* registro */

.registromain1{
    grid-area: mainB;
}

.registromain{
    grid-area: mainE;
}

.registroform{
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
}

.registrarme{
    text-align: center;
    color: mediumslateblue;
}

.registrarme:hover{
    color: tomato;
}

